<footer style="margin-left: -3%; margin-right: -8%; width: 100%;">
    <link href="/css/footer.css" rel="stylesheet">
    <div class="page-footer text" style="font-size:1rem ;">
       <p>This application s designd by Rohit Vishwakarma, and it is for testing purpose for any inconsistency or suggesstions, Please contact on below contact details</p>
       <p>All rights reserved : Rohit Vishwakarma and Company</p>
       <p>Email : rohitbca2019@gmail.com</p>
       <p>Mobile : +91-8819968904</p>
    </div>
</footer>